0.0.0.0:2015 {
    gzip
    root /var/www/html
    rewrite / {
      regexp .*
      to /gwells/
    }
}

0.0.0.0:2015/gwells/api {
    gzip
    proxy / https://{$GWELLS_API_SERVICE} {
      transparent
    }
}
