{% extends 'gwells/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Activity Submission{% endblock %}

{% block bodyheading_block %}Well Activity{% endblock %}

{% block introduction_block %}
     Submit activity on a well that does not exist in the system. Try a <a href="{% url 'search' %}">search</a> to see if the well exists in the system before submitting a report.
     <br /><br />
{% endblock %}

{% block body_block %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form.non_field_errors }}
            {{ wizard.form.errors }}

            <fieldset>
            <legend>Well Type and Class</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="name">{{ wizard.form.well_activity_type|as_crispy_field }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <label for="units">Measurement units for data entry</label><br />
                    <input type="radio" name="units" value="Imperial" checked /> Imperial<br />
                    <input type="radio" name="units" value="Metric" disabled /> Metric<br /><br />
                </div>
            </div>            
            <div class="row">
                <div class="col-md-4">
                    {{ wizard.form.well_class|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ wizard.form.intended_water_use|as_crispy_field }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ wizard.form.identification_plate_number|as_crispy_field }}
                </div>
                <div class="col-md-9">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ wizard.form.driller_responsible|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ wizard.form.driller_name|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    <label><input type="checkbox" id="chkSameAsPersonResponsible" /> Same as Person Responsible for Drilling</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ wizard.form.consultant_name|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ wizard.form.consultant_company|as_crispy_field }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="date">{{ wizard.form.work_start_date|as_crispy_field }}</div>
                </div>
                <div class="col-md-8">
                    <div class="date">{{ wizard.form.work_end_date|as_crispy_field }}</div>
                </div>
            </div>


            <div class="form-group">
                <div class="controls">
                {% if wizard.steps.prev %}
                    <a class="btn btn-default" id="previous_button" href="javascript:history.go(-1);">Previous Step</a>
                {% endif %}
                {% if wizard.steps.next %}
                    <input type="submit" value="Next Step" class="btn btn-primary" id="submit-id-next" />
                {% else %}
                    <input type="submit" value="Submit Report" class="btn btn-primary" id="submit-id-s" />
                {% endif %}
                </div>
            </div>
            </fieldset>
        </form>    

{% endblock %}

{% block jqscript_block %}
<script>
  $( function() {
    $( "#id_type_and_class-work_start_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
    $( "#id_type_and_class-work_end_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
</script>
{% endblock %}