{
    auto_https off
    http_port 8080
    https_port 8443
    admin 0.0.0.0:3003
    servers {
        metrics
    }
}
{$VITE_BACKEND_URL:http://backend:8000/} {
    root * app/frontend/dist
    file_server
    templates
}
:8080 {
    root * /srv
    encode zstd gzip
    file_server
    @spa_router {
        not path /gwells/api/v2/*
        not path /api/tiles/*
        file {
            try_files {path} /index.html
        }
    }
    templates {
        mime application/javascript
        match /env.js
    }
    rewrite @spa_router {http.matchers.file.relative}
    
    # Existing API proxy
    reverse_proxy /api* {$VITE_BACKEND_URL} {
    }
    
    # New proxy for tiles
    reverse_proxy /api/tiles/* https://gwells.apps.silver.devops.gov.bc.ca/gwells/tiles/ {
        header_up Host gwells.apps.silver.devops.gov.bc.ca
        header_up Origin https://gwells.apps.silver.devops.gov.bc.ca
        # Strip the /api/tiles prefix before forwarding
        uri strip_prefix /api/tiles
    }
}
:3001 {
    handle /health {
        respond "OK"
    }
}
