{
	debug
	auto_https off
	http_port 8080
	https_port 8443
	admin 0.0.0.0:3003
}

:8080 {
	log
	root * /srv
	encode zstd gzip

	@js path /assets/*.js

	handle @js {
		header {
			-Content-Length
			-Etag
			Cache-Control "no-store"
		}
		templates {
			mime application/javascript text/javascript
			between "___CADDY_TEMPLATE_START___" "___CADDY_TEMPLATE_END___"
		}
		file_server
	}

	# All other hashed assets served normally
	handle /assets/* {
		file_server
	}

	# Proxy API requests to your backend
	handle /gwells/api/v2/* {
		reverse_proxy backend:8000
	}

	handle /postgis_ftw.gwells_well_view/* {
		reverse_proxy tileserv:7800
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}

:3001 {
	handle /health {
		respond "OK"
	}
}
