@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

@media print {
  body {
    overflow: auto!important;
    height: auto!important;
  }
  footer {
    display: none!important;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500!important;
  }
  #breadcrumbs {
    display: none!important;
  }
  #keycloak-auth {
    display: none!important;
  }
  .btn-primary {
    background-color: #fff!important
  }
}

html {
  font-size: 14px;
  background-color: #f1f1f1
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f1f1f1
}
body.gwells-body {
  background-color: #f1f1f1
}
main {
  margin-bottom: 45px;
  padding-top: 20px;
  flex: auto;
}
header,
footer {
  flex: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500!important;
}

// BC Gov Bootstrap 4 theme override
.custom-select[size]:not([size="0"]) {
  height:auto;
  padding-right:.75rem;
  background-image:none;
}

div.dropdown-toggle::after {
  display: none;
}

.detail-section > legend {
  border-bottom: 1px solid #e5e5e5;
  font-size: 21px;
}

.alert .alert-icon {
  display:table-cell;
  vertical-align: middle;
}

.alert .alert-message {
  padding-left: 10px;
  display:table-cell;
  vertical-align: middle;
}