.map {
  .mapbox-ctrl-layers {
    background-color: white;
    padding: 6px 10px 6px 6px;

    ol, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    label {
      margin: 0;
    }

    input[type="checkbox"] {
      vertical-align: middle;
    }
  }

  .mapbox-ctrl-legend {
    padding: 6px 10px 6px 6px;

    .mapbox-ctrl-legend-content {
      ul, li {
        list-style: none
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  [id^=mbgl-gesture-handling-help-container-] {
    font-size: 25px;
  }

  #unsupported-browser {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 200%;
  }

  .mapboxgl-ctrl.mapboxgl-ctrl-scale:first-child {
    margin-bottom: 0;

    & ~ .mapboxgl-ctrl.mapboxgl-ctrl-scale {
      border-bottom: none;
    }
  }

  .mapboxgl-popup {
    // Need to un-set will-change because Chrome blurs the popup text otherwise
    will-change: inherit !important;
    margin-bottom: -1px;

    &.mapboxgl-popup-no-interaction {
      .mapboxgl-popup-content {
        pointer-events: none;
      }
    }

    .mapboxgl-popup-content {
      padding-bottom: 10px;

      ol, ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .mapbox-popup-aquifer {
        .mapbox-popup-suffix {
          font-weight: bold;

          &::before {
            content: ' – '
          }
        }
      }

      .mapbox-popup-well {
        .unpublished {
          font-weight: bold;
        }
      }

      .mapbox-popup-water-licence {
        ul {
          margin-left: 1.4em;

          li {
            list-style-type: disc;
          }
        }

        .quantity-by-purpose {
          .licence-quantity {
            &:before {
              content: " — ";
            }
          }
        }
      }
    }

    li:last-child {
      margin-bottom: 0 !important;
    }
  }

  .boxdraw {
    background: rgba(56, 135, 190, 0.1);
    border: 2px solid #3887BE;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .mapboxgl-ctrl-box-zoom {
    button span {
      background: url('./common/assets/images/zoom-rect.svg') center center no-repeat
    }

    &.active {
      box-shadow: 0 0 2px 2px #0096ff;
    }
  }

  .mapboxgl-ctrl-top-centre {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .mapboxgl-ctrl-search-area {
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;

    &.show {
      animation: fade-in 300ms ease-in forwards;
    }

    button {
      background-color: white;
      border: none;
      width: auto;
      color: #444;
      padding: 0 10px;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }

  .mapboxgl-ctrl-geocoder {
    .mapboxgl-ctrl-geocoder--input {
      height: 29px;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
      top: 5px;
      left: 5px;
    }

    .mapboxgl-ctrl-geocoder--pin-right > * {
      top: 4px;
    }

    &.mapboxgl-ctrl-geocoder--collapsed {
      width: 29px;
      min-width: 29px;

      .mapboxgl-ctrl-geocoder--input {
        height: 29px;
      }
    }

    .mapboxgl-ctrl-geocoder--icon {
      fill: #333;
    }
  }

  .mapboxgl-ctrl-search-on-move {
    &.show-search-area-button {
      padding: 0;
    }

    button {
      width: auto;
      height: auto;
    }
  }

  .mapboxgl-ctrl-clear-search-criteria {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: -0.25rem !important;

    .mapboxgl-ctrl-clear-search-criteria-active-search-info {
      background-color: rgba(255, 255, 255, .75);
      color: #222;
      border-radius: 2px;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25)
    }

    button {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
      background-color: white;

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }

  .mapboxgl-ctrl-attrib {
    margin-top: 10px;

    &.mapboxgl-compact {
      min-height: 24px;
    }
  }

  .mapboxgl-marker.map-pin {
    // transform: none !important;
    width: 25px;
    height: 41px;
    // left: 50%;
    // top: 50%;
    // margin-top: -41px;
    // margin-left: -11px;

    &:before {
      content: "";
      position: absolute;
      width: 41px;
      height: 41px;
      bottom: 0;
      left: 0;
      background: url('./common/assets/images/marker-shadow.png') no-repeat;
    }

    &:after {
      content: "";
      position: absolute;
      background: url('./common/assets/images/marker-icon.png') no-repeat;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 41px;

      /* 1.5 dpr */
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('./common/assets/images/marker-icon-2x.png');
        background-size: 100%;
      }
    }

    .map-pin-spinner {
      position: absolute;
      z-index: 1;
      top: 2px;
      left: 2px;
      border: 7px solid transparent;
      width: 22px;
      height: 22px;
      display: none;
    }

    &.loading {
      .map-pin-spinner {
        display: block;
        animation: spin 2s linear infinite;
        border-color: transparent #ffffff4d;
        border-radius: 50%;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
