#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.

# If you're using https://direnv.net/, this file assists in ensuring that your environment is set up
# correctly.

# SET UP NVM
echo "Setting up nvm..."
export NVM_DIR="$HOME/.nvm"
. "/usr/local/opt/nvm/nvm.sh"

# CHECK NODE VERSION
echo "Checking node version...."
read version _ <<< $(nvm current)
desired=v6.11.3
if [ "$version" != "$desired" ]
then
    echo "Wrong node version ($version), switching to $desired."
    nvm use $desired
else
    echo "Your node version is $desired."
fi

# CHECK IF package.json HAS CHANGED
echo "Checking if package has changed..."
read current_md5 _ <<< $(cat package.json | md5 | awk '{print $1}')
read prev_md5 _ <<< $(cat package.md5)
if [ "$current_md5" != "$prev_md5" ]
then
    echo "Package seems to have changed, running npm install."
    npm install
    echo "Storing md5 for current package..."
    echo "$current_md5" > package.md5
else
    echo "Package doesn't seem to have changed."
fi

# SET UP NODE ENVIRONMENT
export NODE_ENV=development
