# .env for local
ENVIRONMENT=local
DATABASE_USER=gwells
DATABASE_PASSWORD=
GWELLS_SERVICE_HOST=db
GWELLS_SERVICE_PORT=5432
# for docker compose
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
PG_PRIMARY_USER=
PG_PRIMARY_PASSWORD=
PG_ROOT_PASSWORD=
DJANGO_SECRET_KEY=
SSO_PUBKEY=
PGADMIN_DEFAULT_PASSWORD=