# Auto detect text files and perform LF normalization
*		text eol=lf

# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.eot		binary
*.jar		binary
*.p 		binary
*.pkl 		binary
*.png		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary
*.ttf		binary

# Static files
# ============
/app/gwells/static/**	binary

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
