version: '3'

services:
  db:
    image: postgres:9.6
    environment:
      POSTGRES_USER: gwells
      POSTGRES_PASSWORD: test1
    hostname: db
    volumes:
      - ./.tmp/psql-dev:/var/lib/postgresql
  webapp:
    image: node:8
    environment:
      DEBUG: "True"
      AXIOS_BASE_URL: http://127.0.0.1:8000/gwells/api/v1/
      CHOKIDAR_USEPOLLING: "True"
    command: /bin/bash -c "
        set -x &&
        cd /app/frontend &&
        npm install &&
        npm run build &&
        npm run ${NPM_CMD:-dev}"
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
      - /app/frontend/node_modules/
  api:
    image: python:3.6
    environment:
      DATABASE_SERVICE_NAME: postgres
      DATABASE_ENGINE: postgresql
      DATABASE_NAME: gwells
      DATABASE_USER: gwells
      DATABASE_PASSWORD: test1
      POSTGRES_SERVICE_HOST: db
      DJANGO_DEBUG: "True"
      APP_CONTEXT_ROOT: gwells
      DJANGO_SECRET_KEY: secret
      SESSION_COOKIE_SECURE: "False"
      CSRF_COOKIE_SECURE: "False"
      ENABLE_DATA_ENTRY: "True"
      ENABLE_GOOGLE_ANALYTICS: "False"
      ENABLE_ADDITIONAL_DOCUMENTS: "False"
      POSTGRES_SERVICE_PORT: 5432
      DJANGO_ADMIN_URL: admin
      PYTHONUNBUFFERED: "1"
      SSO_PUBKEY: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAh+5Hc4w/PKN04avW1LX/orSyXsJ7nJiEbErMyQqCvYAEKmQUeok7Yy+r6sVuJSyQQMCExk37NY3fUQOK92J83oC/9WGij7bvlWHew810edIisechoKpLuQbw63xlj/5ifQfJ977NM1n1RQgXF4hr4MDuhGbV+PAkQGdSPfufjEFleCwj8mvjUwTFnSwE9I+Rf78DVJzCHZbpFMq9skvrpCzeNsLNNoz+k1DENQ6MKnVnbUYskG+j5NZ3g+kxfkRf2G0tw2KisLYtxUSdfwutieT2Zxglk/kZeMWS7khXWzhwjvWf5a1qM5ebreVVYNhra7MjcrkXSh0v5IBcW+122wIDAQAB
      SSO_REALM: gwells
      SSO_AUDIENCE: gwells-test
      SSO_CLIENT: gwells-test
      SSO_AUTH_HOST: https://sso-test.pathfinder.gov.bc.ca/auth
    command: /bin/bash -c "sleep 3 &&
            set -x &&
            cd /app/backend &&
            pip3 install -r requirements.txt &&
            python3 manage.py migrate --noinput &&
            echo Loading fixtures, this may take some time... &&
            python3 manage.py loaddata
                gwells-codetables.json
                registries-codetables.json
                registries.json &&
            python3 manage.py createinitialrevisions &&
            python3 manage.py collectstatic --noinput &&
            python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
