[nosetests]
tests=gwells/test_forms.py, gwells/test_models.py, gwells/test_search.py, gwells/test_views.py, gwells/test_survey_view.py, gwells/test_survey_render.py, registries/tests.py, gwells/test_admin.py
with-xunit=1
with-coverage=1
cover-erase=1
cover-inclusive=1
cover-xml=1
cover-xml-file=coverage.xml
cover-package=gwells,registries
;nocapture=1
;nologcapture=1
