
# Set variables required for newman api tests
#export GWELLS_API_BASE_URL=https://gwells-dev-pr-862-moe-gwells-dev.pathfinder.gov.bc.ca/gwells
#export GWELLS_API_BASE_URL=https://gwells-dev-pr-860-moe-gwells-dev.pathfinder.gov.bc.ca/gwells
export GWELLS_API_BASE_URL=http://127.0.0.1:8000/gwells
export GWELLS_API_TEST_USER=testuser
export GWELLS_API_TEST_AUTH_SERVER=https://sso-test.pathfinder.gov.bc.ca/auth/realms/gwells/protocol/openid-connect/token
export GWELLS_API_TEST_CLIENT_ID=gwells-api-test

dotenv .secret_env