<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Groundwater Wells - Province of British Columbia</title>
</head>

<body>
    <h1>The page you're looking for can't be found.</h1>
    <p><a href="/gwells">Search for a well</a></p>
</body>

</html>
