
# Set variables required for newman api tests
export GWELLS_API_BASE_URL=http://127.0.0.1:8000/gwells
GWELLS_API_TEST_USER=""
GWELLS_API_TEST_PASSWORD=""
export GWELLS_API_TEST_CLIENT_SECRET=""
export GWELLS_API_TEST_AUTH_SERVER=https://test.loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/token
export GWELLS_API_TEST_CLIENT_ID=gwells-api-tests-4820


if [ -z "$GWELLS_API_TEST_USER" ]; then
  echo "Enter IDIR Login: "
  read GWELLS_API_TEST_USER
fi
if [ -z "$GWELLS_API_TEST_PASSWORD"]; then
  echo "Enter IDIR Password: "
  read -s GWELLS_API_TEST_PASSWORD
fi

export GWELLS_API_TEST_USER
export GWELLS_API_TEST_PASSWORD
