[nosetests]
tests=gwells/tests/test_roles.py, gwells/tests/test_models.py, gwells/tests/test_views.py, gwells/tests/test_survey_view.py, gwells/tests/test_admin.py, wells/tests/test_documents.py, wells/tests/test_stack.py, wells/tests/test_export.py, registries/tests.py, submissions/tests.py
with-xunit=1
with-coverage=1
cover-erase=1
cover-inclusive=1
cover-xml=1
cover-xml-file=coverage.xml
cover-package=gwells,registries,wells,submissions
;nocapture=1
;nologcapture=1
