django==3.2
pygdal==3.2.2.10
gdal==3.0.0
pytz==2024.1
sqlparse==0.4.4

django-debug-toolbar>=1.7
psycopg2-binary>=2.7.1,<2.9
djangorestframework>=3.11.2,<3.12
drf-yasg==1.21.7
django-crispy-forms>=1.6.1
django-formtools>=2.0
django-filter==2.3.0
requests==2.21.0
whitenoise>=4.1.2
django-cors-headers==3.2
django-extensions==2.2.9
django-rest-multiple-models==2.1.0
django-reversion==3.0.5
geopandas==0.9.0
thefuzz==0.19.0
djangorestframework-simplejwt==4.4.0
cryptography<=40.0.2
geojson==2.5.0
minio==7.1.16
openpyxl==2.5.14
djangorestframework-csv==2.1.0
coverage>=4.4.2
MarkupSafe>=2.0.1

gunicorn==19.9.0
gevent==1.2.2
django-settings-export>=1.2.1
lxml==4.6.3
urllib3>=1.24,<1.25
pyjwt>=2.0,<=2.4.0
