0.0.0.0:2015

root /var/www/html

log stdout

errors stdout

rewrite / {
  if {file} not *.css *.js *.png
  to /maintenance.html
}

header / {
  Cache-Control "no-cache, no-store, must-revalidate"
  Pragma "no-cache"
  Expires "0"
}
