{% extends 'gwells/base.html' %}

{% block title %}Well Activity Submission{% endblock %}

{% block bodyheading_block %}Record of work performed on a well{% endblock %}

{% block introduction_block %}
{% endblock %}

{% block body_block %}

    <div class="row">
        <div class="col-sm-12">
            <label for="well_activity_type">Type of Work:</label>
            <span id="well_activity_type">{{ activity_submission.well_activity_type.description }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="well_class">Class of Well:</label>
            <span id="well_class">{{ activity_submission.well_class.description }}</span>
        </div>
        <div class="col-sm-6">
            {% if activity_submission.well_class.code == 'WATER_SUPL' %}
            <label for="intended_water_use">Intended water use:</label>
            <span id="intended_water_use">{{ activity_submission.intended_water_use.description }}</span>            
            {% else %}
            <label for="well_subclass">Subclass:</label>
            <span id="well_subclass">{{ activity_submission.well_subclass.description }}</span>            
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="well_tag_number">Well Tag Number:</label>
            <span id="well_tag_number">{{ activity_submission.well_tag_number }}</span>
        </div>
        <div class="col-sm-6">
            <label for="owner">Owner:</label>
            <span id="owner">{{ activity_submission.owner_full_name }}</span>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="address">Street Address:</label>
            <span id="address">{{ activity_submission.street_address }}</span>
        </div>
        <div class="col-sm-6">
            <!--<label for="well_drilled_depth">Well Drilled Depth:</label>
            <span id="well_drilled_depth">{{ activity_submission.well_drilled_depth }}</span>-->
        </div>
    </div>


{% endblock %}

{% block jqscript_block %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });
    </script>
{% endblock %}