{% extends 'gwells/base.html' %}

{% block title %}{% endblock %}

{% block bodyheading_block %}Additional Information{% endblock %}

{% block introduction_block %}
{% endblock %}

{% block body_block %} 

<p>
	Learn more about <a href="http://www2.gov.bc.ca/gov/content/environment/air-land-water/water/groundwater-wells">groundwater wells in B.C.</a> including:
	<ul>
		<li>Groundwater Protection Regulation</li>
		<li>Information for property owners</li>
		<li>Information for well drillers and pump installers</li>
		<li>Aquifers</li>
	</ul>
	<br />

	<a href="http://www2.gov.bc.ca/gov/content/environment/air-land-water/water/water-science-data/water-data-tools">Data and mapping tools</a> are available, which provide detailed information about groundwater, wells, and aquifers.
	<br />
	Tools include:
	<ul>
		<li>Water Resource Atlas</li>
		<li>iMapBC</li>
		<li>DataBC datasets</li>
	</ul>
	<br />
	
	Review datasets from <a href="https://catalogue.data.gov.bc.ca/dataset?q=groundwater&sort=score+desc%2C+record_publish_date+desc">DataBC</a> related to groundwater.
	<br />
	<br />
	
	For assistance on searching for a well, contact FrontCounterBC.
	<br />
	Phone: 1-877-855-3222<br />
	Email: <a href="mailto:frontcounterbc@gov.bc.ca">frontcounterbc@gov.bc.ca</a><br />
	Or visit any <a href="https://portal.nrs.gov.bc.ca/web/client/locations">FrontCounterBC location</a>.

<!--To report inaccurate well record information or to provide updates, please email <a href="mailto:groundwater@gov.bc.ca">groundwater@gov.bc.ca</a>.-->

</p>
{% endblock %}
