{% load static %}
{% load group_filter %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="{% block meta %}Search for and access details on over 100,000 groundwater wells in British Columbia by map or text.{% endblock %}" />
    <meta name="author" content="" />
    <meta name="navigaton_title" content="" />
    <meta name="dcterms.publisher" content="Province of British Columbia" />
    <meta name="dcterms.created" content="2015-06-05" />
    <meta name="dcterms.modified" content="2016-12-30" />
    <meta name="security_label" content="Public" />
    <meta name="security_classification" content="Low" />
    <meta name="dcterms.subject" content="" />
    <meta name="dcterms.creator" content="" />
    <meta name="dcsext.creator" content="" />
    <meta name="dcterms.language" content="eng" />
    <meta name="keywords" content="groundwater wells, ground water, well, British Columbia, water well drilling, geoexchange well, water well, geotechnical well, water supply wells, dewatering wells, injection wells, remediation wells, monitoring wells">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'gwells/icons/apple-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'gwells/icons/apple-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'gwells/icons/apple-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'gwells/icons/apple-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'gwells/icons/apple-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'gwells/icons/apple-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'gwells/icons/apple-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'gwells/icons/apple-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'gwells/icons/apple-icon-180x180.png' %}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'gwells/icons/android-icon-192x192.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'gwells/icons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'gwells/icons/favicon-96x96.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'gwells/icons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'gwells/icons/manifest.json' %}" />
    <link rel="shortcut icon" href="{% static 'gwells/images/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{% static 'gwells/icons/ms-icon-144x144.png' %}" />
    <meta name="theme-color" content="#ffffff" />

    <title>Groundwater Wells {% block title %}{% endblock %} - Province of British Columbia</title>

    <link rel="stylesheet" href="{% static 'gwells/css/bootstrap-theme.min.css' %}" />

</head>

<body>
    <!-- PREPARE FOR VUE -->
    <script type="text/JavaScript">
        // TODO: Enable data entry is something we get from environment variables, so we can actually
        // remove this and have the VUE component access it directly (by setting during webpack build)
        {% if settings.ENABLE_DATA_ENTRY %}const ENABLE_DATA_ENTRY = true{% endif %}
        {% if request.user|has_group:"admin" %}const SHOW_ADMIN = true{% endif %} 
    </script>
    {% render_bundle 'manifest' %}
    {% render_bundle 'vendor' %}
    <!-- /PREPARE FOR VUE -->

    <!-- HEADER -->
    <div id="headie"></div>
    {% render_bundle 'headie' %}
    <!-- /HEADER -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="main-content-anchor"></div>
                <!-- TITLE -->
                <h2>{% block bodyheading_block %}{% endblock %}</h2>
                <!-- /TITLE -->
                <!-- INTRODUCTION -->
                <div id="introduction">
                    {% for survey in surveys %} {% if survey.survey_page == page and survey.survey_enabled%}
                    <div class="row hide-for-print show-for-screen">
                        <div class="col-sm-12 alert alert-info">
                            <div id="survey-msg" role="alert" aria-atomic="true">
                                {{survey.survey_introduction_text}} <a href="{{survey.survey_link}}" id="survey:{{survey.survey_guid}}" target=_blank>survey</a>.
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %} {% block introduction_block %}{% endblock %}
                </div>
                <!-- /INTRODUCTION -->
                <div class="container">
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                            eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                            eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        eslkgjeklg sdfgdfg sdfgdfgsdfg sdfgdfgsdfgdfsdfg
                    </div>
                    <div>
                        This is the bottom.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div id="footsie"></div>
    {% render_bundle 'footsie' %}
    <!-- /FOOTER -->
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'gwells/js/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'gwells/js/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'gwells/js/bootstrap.min.js' %}"></script>

</body>

</html>