{% extends 'gwells/base.html' %}

{% block meta %}Learn about groundwater wells in B.C. and how to find out more information about them.{% endblock %}
{% block title %}Groundwater Information{% endblock %}

{% block bodyheading_block %}Groundwater Information{% endblock %}

{% block introduction_block %}
{% endblock %}

{% block body_block %}

    <p>
	Learn more about <a href="http://www2.gov.bc.ca/gov/content/environment/air-land-water/water/groundwater-wells">groundwater wells in B.C.</a>:
    &nbsp;<p>
    <ul>
		<li>Groundwater protection regulation</li>
		<li>Information for property owners</li>
		<li>Information for well drillers and pump installers</li>
		<li><a href="http://www2.gov.bc.ca/gov/content?id=9970743EF6B24B29A888D6AF038715FB">Aquifers and the provincial observation well network</a></li>
	</ul>
	<br />

	<a href="http://www2.gov.bc.ca/gov/content/environment/air-land-water/water/water-science-data/water-data-tools">Data and mapping tools</a> are available, which provide detailed information about groundwater, wells, and aquifers.
	<br />
    <p>
	Tools include:&nbsp;<p>
	<ul>
		<li><a href="http://maps.gov.bc.ca/ess/hm/wrbc/">B.C. Water Resource Atlas</a></li>
		<li><a href="https://maps.gov.bc.ca/ess/hm/imap4m/">iMapBC</a></li>
		<li><a href="https://catalogue.data.gov.bc.ca/dataset?q=groundwater&sort=score+desc%2C+record_publish_date+desc">DataBC datasets</a></li>
	</ul>
	<br />
	For assistance on searching for a well, contact FrontCounterBC.
	<br />
	Phone: 1-877-855-3222<br />
	Email: <a href="mailto:frontcounterbc@gov.bc.ca">frontcounterbc@gov.bc.ca</a><br />
	Or visit any <a href="https://portal.nrs.gov.bc.ca/web/client/locations">FrontCounterBC location</a>.
</p>
{% endblock %}
