<!-- TEMPORARY FILE TO ESTABLISH BASIC MAP FUNCTIONALITY -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
crossorigin=""/>
<style>
    #test-map { height: 720px; }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
<script src="../../../static/gwells/js/wellsMap.js"></script>

<form id="test-map-form">
    <table>
        <tr>
            <td>
                <input type="text"></input>
            </td>
            <td>
                Latitude
            </td>
        </tr>
        <tr>
            <td>
                <input type="text"></input>
            </td>
            <td>
                Longitude
            </td>
        </tr>
    </table>
</form>

<div id="test-map"></div>

<script>
    $(document).ready(function (){
        var testMap = wellsMap.createMap('test-map');
    });
</script>