<!-- TEMPORARY FILE TO ESTABLISH BASIC MAP FUNCTIONALITY -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
crossorigin=""/>
<style>
    #test-map { height: 500px; }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
<script src="../../../static/gwells/js/wellsMap.js"></script>

<form id="test-map-form">
         <!-- VICTORIA LAT/LONG DEFAULTS
            Lat = 48.4284
            Long = -123.3656
         -->
    <table>
        <tr>
            <td>
                <input id="lat-field" type="text" value="48.4284"></input>
            </td>
            <td>
                Latitude
            </td>
        </tr>
        <tr>
            <td>
                <input id="long-field" type="text" value="-123.3656"></input>
            </td>
            <td>
                Longitude
            </td>
            <td><button type="button" onclick="placeMarker()">Place Marker</button></td>
            <td><button type="button" onClick="removeMarker()">Remove Marker</button></td>
        </tr>
    </table>
</form>

<div id="test-map"></div>

<script>
    var testMap = null;
    function placeMarker() {
        var lat = parseFloat($("#lat-field").val());
        var long = parseFloat($("#long-field").val());
        console.log("Lat = " + lat);
        console.log("Long = " + long);
        testMap.placeNewWellMarker({lat: lat, long: long});
    }
    function removeMarker() {
        testMap.removeNewWellMarker();
    }
    $(document).ready(function (){
        testMap = new WellsMap();
        testMap.initMap({mapNodeId: 'test-map', latNodeSelector: '#lat-field', longNodeSelector: '#long-field'});
    });
</script>