{% extends 'gwells/base.html' %}
{% block meta %}{{ block.super }}{% endblock %}
{% block title %}Registry{% endblock %}
{% block bodyheading_block %}<h1>Driller and Pump Installer Registries</h1>{% endblock %}
{% block introduction_block %}{% endblock %}

{% block body_block %}
<fieldset id="driller_registry">
<legend>Driller Regitry</legend>
<a href="https://www2.gov.bc.ca/assets/gov/environment/air-land-water/water/water-wells/well_drillers_reg.pdf" target="_blank">Driller Registry</a>
</fieldset>

<fieldset id="pump_installer_registry">
<legend>Pump Installer Registry</legend>
<a href="https://www2.gov.bc.ca/assets/gov/environment/air-land-water/water/water-wells/pump_install_reg.pdf" target="_blank">Driller Registry</a>
</fieldset>
{% endblock %}
