{% extends 'gwells/base.html' %}

{% block title %}Search Results{% endblock %}

{% block bodyheading_block %}Search Results{% endblock %}

{% block introduction_block %}
                    <p>The following are the closest matching known wells.</p>
{% endblock %}

{% block body_block %} 

{% if well_list %}
    <ul>
    {% for well in well_list %}
        <li><a href="{% url 'well' well.id %}">{{ well.street_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No well records could be found.</p>
{% endif %}
{% endblock %}