{% extends 'gwells/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Search{% endblock %}

{% block bodyheading_block %}Search{% endblock %}

{% block introduction_block %}
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-sm-4">
        <div align="right">
            <a href="#">Advanced Search</a>
        </div>
        {% crispy form %}         
    </div>
    <div class="col-sm-8">
    </div>
</div>
<br />

{% if well_list %}
        <div class="row row-header">
            <div class="col-sm-1">
                Well Tag #
            </div>
            <div class="col-sm-1">
                Well ID #
            </div>
            <div class="col-sm-1">
                Owner
            </div>
            <div class="col-sm-2">
                Street Address
            </div>
            <div class="col-sm-1">
                Lot
            </div>
            <div class="col-sm-1">
                Plan
            </div>
            <div class="col-sm-1">
                District Lot
            </div>
            <div class="col-sm-1">
                Land District
            </div>
            <div class="col-sm-1">
                PID
            </div>
            <div class="col-sm-1">
                Diameter
            </div>
            <div class="col-sm-1">
                Finished Well Depth
            </div>
            <!--<div class="col-sm-1">
                Map
            </div>-->
        </div>

    {% for well in well_list %}
        <div class="row row-bordered">
            <div class="col-sm-1">
                {{ well.well_tag_number }}
            </div>
            <div class="col-sm-1">
                {{ well.identification_plate_number }}
            </div>
            <div class="col-sm-1">
                {{ well.well_owner_id__full_name }}
            </div>
            <div class="col-sm-2">
                {{ well.street_address }}
                {{ well.site_area }}
            </div>
            <div class="col-sm-1">
                {{ well.lot_number }}
            </div>
            <div class="col-sm-1">
                {{ well.legal_plan }}
            </div>
            <div class="col-sm-1">
                {{ well.legal_district_lot }}
            </div>
            <div class="col-sm-1">
                {{ well.land_district_id__name }}
            </div>
            <div class="col-sm-1">
                {{ well.pid }}
            </div>
            <div class="col-sm-1">
                {{ well.diameter }}
            </div>
            <div class="col-sm-1">
                {{ well.finished_well_depth }}
            </div>
            <!--<div class="col-sm-1">
            </div>-->
        </div>
    {% endfor %}
        	
{% elif 'well' in request.GET %}
    <div class="row">
        <div class="col-sm-12">
            <p>No well records could be found.</p>
        </div>
    </div>

        <!--<div class="row row-header">
            <div class="col-sm-1">
                Well Tag #
            </div>
            <div class="col-sm-1">
                Well ID #
            </div>
            <div class="col-sm-1">
                Owner
            </div>
            <div class="col-sm-2">
                Street Address
            </div>
            <div class="col-sm-1">
                Lot
            </div>
            <div class="col-sm-1">
                Plan
            </div>
            <div class="col-sm-1">
                District Lot
            </div>
            <div class="col-sm-1">
                Land District
            </div>
            <div class="col-sm-1">
                PID
            </div>
            <div class="col-sm-1">
                Diameter
            </div>
            <div class="col-sm-1">
                Finished Well Depth
            </div>
        </div>
        <div class="row row-bordered">
            <div class="col-sm-1">
                <a href="#">456789</a>
            </div>
            <div class="col-sm-1">
                7891235
            </div>
            <div class="col-sm-1">
                John Smith
            </div>
            <div class="col-sm-2">
                123 Main St. Victoria
            </div>
            <div class="col-sm-1">
                1
            </div>
            <div class="col-sm-1">
                5a
            </div>
            <div class="col-sm-1">
                766
            </div>
            <div class="col-sm-1">
                7
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                10
            </div>
            <div class="col-sm-1">
                50
            </div>
        </div>
        <div class="row row-bordered">
            <div class="col-sm-1">
                <a href="#">456123</a>
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                Joe Smith
            </div>
            <div class="col-sm-2">
                7699 Government Street Victoria
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                30
            </div>
            <div class="col-sm-1">
                100
            </div>
        </div>
        <div class="row row-bordered">
            <div class="col-sm-1">
                <a href="#">566775</a>
            </div>
            <div class="col-sm-1">
                1235
            </div>
            <div class="col-sm-1">
                Joan Smith
            </div>
            <div class="col-sm-2">
                300 Main St. Victoria
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
                20
            </div>
            <div class="col-sm-1">
                60
            </div>
        </div>-->


<!--
<table class="table table-responsive">
  <thead>
    <tr>
      <th class="col-sm-1">Well Tag #</th>
      <th class="col-sm-1">Well ID #</th>
      <th class="col-sm-1">Owner</th>
      <th class="col-sm-1">Street Address</th>
      <th class="col-sm-1">Lot</th>
      <th class="col-sm-1">Plan</th>
      <th class="col-sm-1">District Lot</th>
      <th class="col-sm-1">Land District</th>
      <th class="col-sm-1">PID</th>
      <th class="col-sm-1">Diameter</th>
      <th class="col-sm-1">Finished Well Depth</th>
      <th class="col-sm-1">Map</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-1"><a href="#">456789</a></td>
      <td class="col-sm-1">7891235</td>
      <td class="col-sm-1">John Smith</td>
      <td class="col-sm-1">123 Main St.</td>
      <td class="col-sm-1">1</td>
      <td class="col-sm-1">5a</td>
      <td class="col-sm-1">766</td>
      <td class="col-sm-1">7</td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1">10</td>
      <td class="col-sm-1">50</td>
      <td class="col-sm-1"></td>
    </tr>
    <tr>
      <td class="col-sm-1"><a href="#">456123</a></td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1">Joe Smith</td>
      <td class="col-sm-1">7699 Government Street</td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1"></td>
      <td class="col-sm-1">30</td>
      <td class="col-sm-1">100</td>
      <td class="col-sm-1"></td>
    </tr>
  </tbody>
</table>-->

{% endif %}

        <br />
        <p>
            Can’t find your well? Try your search again using a different set of criteria.
        </p>
        <p>
            Failures in data collection, storage and transmission, whether through human or system failures, are inherent in all systems and may make finding a specific well difficult. The submission of well records to the Province of BC was voluntary until February 29, 2016; as such, the Province does not have a record for every well.
        </p>


{% endblock %}

{% block jqscript_block %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });
    </script>
{% endblock %}