{% extends 'gwells/base.html' %}
{% load verbose_name %}
{% load exclude_zero_decimals %}
{% block title %}Well Summary{% endblock %}

{% block introduction_block %}
{% endblock %}
{% block body_block %}
<fieldset id="summary_information_fieldset">

    <legend>Well Summary
    {% if settings.ENABLE_GOOGLE_ANALYTICS %}
            <a onclick="ga('send', 'event', 'Button', 'print', 'Wells Summary Print'); window.print();">
    {% else %}
            <a onclick="window.print();">
    {% endif %}
    <span title="Print" class="fas fa-print fa-pull-right button hide-for-print cursor-pointer"></span></a></legend>

    <div class="row no-gutters print-compressed">

        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed ">
                    <label for="well_tag_number">{% verbose_name well "well_tag_number" %}:</label>
                    <span id="well_tag_number">{{well.well_tag_number|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="identification_plate_number">{% verbose_name well "identification_plate_number" %}:</label>
                    <span id="identification_plate_number">{{well.identification_plate_number|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="owner_full_name">{% verbose_name well "owner_full_name" %}:</label>
                    <span id="owner_full_name">{{well.owner_full_name|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="licenced_status">{% verbose_name well "licenced_status" %}:</label>
                    <span id="licenced_status">{{well.licenced_status.licenced_status_code|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="well_well_status">{% verbose_name well "well_status" %}:</label>
                    <span id="well_well_status">{{well.well_status.well_status_code|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="well_class">{% verbose_name well "well_class" %}:</label>
                    <span id="well_class">{{well.well_class|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="well_subclass">{% verbose_name well "well_subclass" %}:</label>
                    <span id="well_subclass">{{well.well_subclass|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="intended_water_use">{% verbose_name well "intended_water_use" %}:</label>
                    <span id="intended_water_use">{{well.intended_water_use|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="obs_well_number">{% verbose_name well "observation_well_number" %}:</label>

                    <span id="obs_well_number">
                        {% if well.observation_well_number %}
                        <a href="https://governmentofbc.maps.arcgis.com/apps/webappviewer/index.html?id=b53cb0bf3f6848e79d66ffd09b74f00d&find=OBS%20WELL%20{{well.observation_well_number|default_if_none:'&nbsp;' }}" target="_blank">{{well.observation_well_number|default_if_none:'&nbsp;' }}</a>
                        {% endif %}
                    </span>

                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="obs_well_status">{% verbose_name well "observation_well_status" %}:</label>
                    <span id="obs_well_status">{{well.observation_well_status.obs_well_status_code|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="ems_id">{% verbose_name well "ems" %}:</label>
                    <span id="ems_id">{{well.ems|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="aquifer_number">Aquifer Number:</label>
                    <span id="aquifer_number">
                      {% for aquifer_well in well.aquiferwell_set.all %}
                        <a href="http://a100.gov.bc.ca/pub/wells/aquiferDetail.do?aquiferNumber={{aquifer_well.aquifer_id }}&docType=adr"
                            target="_blank">{{aquifer_well.aquifer_id }}</a>&nbsp;
                      {% endfor %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="alternate_specs_submitted">{% verbose_name well "alternative_specs_submitted" %}:</label>
                    <span id="alternate_specs_submitted">{{well.get_alternative_specs_submitted_display |default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
</fieldset>

<fieldset id="location_information_fieldset">
    <legend>Location Information</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-6 col-print-6 print-compressed print-pad5-right">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="address">{% verbose_name well "street_address" %}:</label>
                    <span id="address">{{well.street_address|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="city">{% verbose_name well "city" %}:</label>
                    <span id="city">{{well.city|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 print-col-12 print-compressed">
                    <label for="legal">Legal Description:</label>
                    <div class="row no-gutters print-compressed">
                        <div class="col-md-12 print-col-12 table-responsive print-compressed">
                            <table id="legal" class="table table-condensed table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <th scope="row">{% verbose_name well "legal_lot" %}</th>
                                        <td><span id="lot">{{well.legal_lot|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="plan">{% verbose_name well "legal_plan" %}</label></th>
                                        <td><span id="plan">{{well.legal_plan|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{% verbose_name well "legal_district_lot" %}</th>
                                        <td><span id="district_lot">{{well.legal_district_lot|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{% verbose_name well "legal_block" %}</th>
                                        <td><span id="block">{{well.legal_block|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{% verbose_name well "legal_section" %}</th>
                                        <td><span id="section">{{well.legal_section|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{% verbose_name well "legal_township" %}</th>
                                        <td><span id="township">{{well.legal_township|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{% verbose_name well "legal_range" %}</th>
                                        <td><span id="range">{{well.legal_range|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{% verbose_name well "land_district" %}</th>
                                        <td><span id="land_district">{{well.land_district.land_district_code|default_if_none:'&nbsp;'}}&nbsp;{{well.land_district.name|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width:240px;">{% verbose_name well "legal_pid" %}</th>
                                        <td><span id="pid">{{well.legal_pid|default_if_none:'&nbsp;'}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 print-col-12 print-compressed top-margin-8">
                    <label for="location_desc">{% verbose_name well "well_location_description" %}:</label>
                    <span id="location_desc">{{well.well_location_description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 print-compressed">
                    <label for="bcgs_mapsheet_number">{% verbose_name well "bcgs_id" %}:</label>
                    <span id="bcgs_mapsheet_number" data-bcgs-mapsheet-number="{{well.bcgs_id.bcgs_mapsheet_number }}">{{well.bcgs_id.bcgs_number|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-print-6 print-compressed print-pad5-left">
            <div aria-label="This map shows the well under consideration as a light blue pushpin, as well as surrounding wells as dark blue circles." id="detail-map"></div>
            <div id="attribution"></div>
        </div>
    </div>
    <div class="row no-gutters print-compressed">
        <div class="col-md-6 offset-md-6 col-print-offset-6 print-compressed top-margin-8">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label>Geographic Coordinates - North American Datum of 1983 (NAD 83)</label>
                </div>
            </div>
            <div class="row no-gutters print-compressed top-margin-8">
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="latitude">{% verbose_name well "latitude" %}:</label>
                    <span id="latitude" data-latitude="{{well.latitude }}">{{well.latitude|default_if_none:'&nbsp;' }}</span>
                </div>
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="longitude">{% verbose_name well "longitude" %}:</label>
                    <span id="longitude" data-longitude="{{well.longitude }}">{{well.longitude|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="utm_northing">{% verbose_name well "utm_northing" %}:</label>
                    <span id="utm_northing" data-utm-northing="{{well.utm_northing }}">{{well.utm_northing|default_if_none:'&nbsp;' }}</span>
                </div>
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="utm_easting">{% verbose_name well "utm_easting" %}:</label>
                    <span id="utm_easting" data-utm-easting="{{well.utm_easting }}">{{well.utm_easting|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="utm_zone_code">{% verbose_name well "utm_zone_code" %}:</label>
                    <span id="utm_zone_code" data-utm-zone-code="{{well.longitude }}">{{well.utm_zone_code|default_if_none:'&nbsp;' }}</span>
                </div>
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="utm_accuracy_code">{% verbose_name well "utm_accuracy_code" %}:</label>
                    <span id="utm_accuracy_code" data-utm-accuracy-code="{{well.utm_accuracy_code }}">{{well.utm_accuracy_code|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>

        </div>
    </div>
</fieldset>

<fieldset id="well_activity_fieldset">
    <legend>Well Activity</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-12 col-print-12 table-responsive print-compressed">
            <table id="activities" class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% verbose_name well "construction_end_date" %}<br>(YYYY-MM-DD)</th>
                        <th>{% verbose_name well "alteration_end_date" %}<br>(YYYY-MM-DD)</th>
                        <th>{% verbose_name well "decommission_end_date" %}<br>(YYYY-MM-DD)</th>
                        <th>{% verbose_name well "drilling_company" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {# for submission in well.activitysubmission_set.all #}
                    <!-- TODO: pull from activity sumbission when that is implemented. -->
                    <tr>
                        <td>
                            {% if well.construction_end_date %} {{well.construction_end_date|date:"Y-m-d"}} {% elif well.construction_start_date%} {{well.construction_start_date|date:"Y-m-d"}} {% else %} &nbsp; {% endif %}
                        </td>
                        <td>
                            {% if well.alteration_end_date %} {{well.alteration_end_date|date:"Y-m-d"}} {% elif well.alteration_start_date%} {{well.alteration_start_date|date:"Y-m-d"}} {% else %} &nbsp; {% endif %}
                        </td>
                        <td>
                            {% if well.decommission_end_date %} {{well.decommission_end_date|date:"Y-m-d"}} {% elif well.decommission_start_date%} {{well.decommission_start_date|date:"Y-m-d"}} {% else %} &nbsp; {% endif %}
                        </td>
                        <td>
                            {{well.drilling_company.name|default_if_none:'&nbsp;'}}
                        </td>
                    </tr>
                    {# endfor #}
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<fieldset id="well_completion_data_fieldset">
    <legend>Well Completion Data</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="total_depth_drilled">{% verbose_name well "total_depth_drilled" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="total_depth_drilled">
                        {% if  well.total_depth_drilled > 0 %}
                        {{well.total_depth_drilled|exclude_zero_decimals}} feet
                        {% else                             %}
                        &nbsp;
                        {% endif                            %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="finished_well_depth">{% verbose_name well "finished_well_depth" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="finished_well_depth">
                            {% if  well.finished_well_depth > 0 %}
                                {{well.finished_well_depth|exclude_zero_decimals}} feet
                            {% else                             %}
                                &nbsp;
                            {% endif                            %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="final_casing_stickup">{% verbose_name well "final_casing_stick_up" %}:</label>
                </div>
                <div class="col-md-5 col-print-5  print-compressed">
                    <span id="final_casing_stickup">
                        {% if  well.final_casing_stick_up > 0 %}
                          {{well.final_casing_stick_up|exclude_zero_decimals}} inches
                        {% else                               %}
                          &nbsp;
                        {% endif                              %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="bedrock_depth">{% verbose_name well "bedrock_depth" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="bedrock_depth">
                        {% if  well.bedrock_depth > 0       %}
                        {{well.bedrock_depth|exclude_zero_decimals}} feet
                        {% else                             %}
                        &nbsp;
                        {% endif                            %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="ground_elevation">{% verbose_name well "ground_elevation" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="ground_elevation">
                        {% if  well.ground_elevation > 0 %}
                        {{well.ground_elevation|exclude_zero_decimals}} feet
                        {% else                             %}
                        &nbsp;
                        {% endif                            %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="ground_elevation_method">{% verbose_name well "ground_elevation_method" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="ground_elevation_method">{{well.ground_elevation_method|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="static_water_level">{% verbose_name well "static_water_level" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="static_water_level">
                        {% if  well.static_water_level > 0  %}
                        {{well.static_water_level|exclude_zero_decimals}} feet
                        {% else                             %}
                        &nbsp;
                        {% endif                            %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="well_yield">{% verbose_name well "well_yield" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="well_yield">
                      {% if  well.well_yield > 0 %}
                      {{well.well_yield|exclude_zero_decimals}} {{well.well_yield_unit.well_yield_unit_code|default_if_none:"no unit provided"}}
                      {% else                             %}
                      &nbsp;
                      {% endif                            %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="artesian_flow">{% verbose_name well "artesian_flow" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="artesian_flow">
                      {% if well.artesian_flow > 0             %}
                        {{well.artesian_flow|exclude_zero_decimals}}&nbsp;{{well.well_yield_unit.well_yield_unit_code|default_if_none:"no unit provided"}}
                      {% endif                                 %}
                    </span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="artesian_pressure">{% verbose_name well "artesian_pressure" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="artesian_pressure">
                        {% if  well.artesian_pressure > 0       %}
                        {{well.artesian_pressure|exclude_zero_decimals}} inches
                        {% else                             %}
                        &nbsp;
                        {% endif                            %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="well_cap_type">{% verbose_name well "well_cap_type" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="well_cap_type">{{well.well_cap_type|default_if_none:'&nbsp;'}}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="well_disinfected">{% verbose_name well "well_disinfected" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="well_disinfected">{{well.get_well_disinfected_display|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="drilling_method">{% verbose_name well "drilling_method" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="drilling_method">{{well.drilling_method.drilling_method_code|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-7 col-print-7 print-compressed">
                    <label for="orientation">{% verbose_name well "well_orientation" %}:</label>
                </div>
                <div class="col-md-5 col-print-5 print-compressed">
                    <span id="orientation2">{{well.get_well_orientation_display|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters print-compressed">
        <div class="col-md-12 col-print-12 print-compressed">
            &nbsp;
            <!-- spacer row -->
        </div>
    </div>
</fieldset>

<fieldset id="lithology_fieldset">
    <legend>Lithology</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-12 col-print-12 table-responsive print-compressed">
          {% if well.lithologydescription_set.all %}
          <table id="lithology" class="table table-condensed table-bordered table-striped">
              <thead>
                    <th>From (feet)</th>
                    <th>To (feet)</th>
                    <th>Lithology Raw Data</th>
                    <th>Description</th>
                    <th>Material Description</th>
                    <th>Relative Hardness</th>
                    <th>Colour</th>
                    <th>Water-Bearing<br>Estimated Flow</th>
                    <th>Observations</th>
                </thead>
              <tbody>
                    {% for lithology in well.lithologydescription_set.all %}
                    <tr>
                        <td>{{lithology.lithology_from|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{lithology.lithology_to|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{lithology.lithology_raw_data|default_if_none:'&nbsp;'}}</td>
                        <td>{{lithology.lithology_description.description|default_if_none:'&nbsp;'}}</td>
                        <td>{{lithology.lithology_material.description|default_if_none:'&nbsp;'}}</td>
                        <td>{{lithology.lithology_hardness|default_if_none:'&nbsp;'}}</td>
                        <td>{{lithology.lithology_colour|default_if_none:'&nbsp;'}}</td>
                        <td>
                            {% if lithology.water_bearing_estimated_flow %} {{lithology.water_bearing_estimated_flow|exclude_zero_decimals}}&nbsp;{{lithology.water_bearing_estimated_flow_units.well_yield_unit_code}} {% endif %}
                        </td>
                        <td>{{lithology.lithology_observation|default_if_none:'&nbsp;'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
          </table>
          {% else %}
          <span id="no_lithology_information">No lithology information available.</span>
          {% endif %}
        </div>
    </div>
</fieldset>

<fieldset id="casing_fieldset">
    <legend>Casing Details</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-12 col-print-12 table-responsive print-compressed">
            {% if well.lithologydescription_set.all %}
            <table id="casings" class="table table-condensed table-bordered table-striped">
                <thead>
                    <th>From (feet)</th>
                    <th>To (feet)</th>
                    <th>Diameter (inches)</th>
                    <th>Casing Material</th>
                    <th>Wall Thickness (inches)</th>
                    <th>Drive Shoe</th>
                </thead>
                <tbody>
                    {% for casing in well.casing_set.all %}
                    <!--|dictsort:"casing_from"-->
                    <tr>
                        <td>
                            <span>{{casing.casing_from|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span>
                        </td>
                        <td>
                            <span>{{casing.casing_to|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span>
                        </td>
                        <td>
                            <span>{{casing.diameter|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span>
                        </td>
                        <td>
                            <span>{{casing.casing_material.description|default_if_none:'&nbsp;' }}</span>
                        </td>
                        <td>
                            <span>{{casing.wall_thickness|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span>
                        </td>
                        <td>
                            <span>{{casing.get_drive_shoe_display|default_if_none:'&nbsp;' }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <span id="no_casing_information">No casing information available.</span>
            {% endif %}
        </div>
    </div>
</fieldset>

<fieldset id="surface_seal_fieldset">
    <legend>Surface Seal and Backfill Details</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="surface_seal_material">{% verbose_name well "surface_seal_material" %}:</label>
                    <span id="surface_seal_material">{{well.surface_seal_material|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="surface_seal_method">{% verbose_name well "surface_seal_method" %}:</label>
                    <span id="surface_seal_method">{{well.surface_seal_method|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="surface_seal_thickness">{% verbose_name well "surface_seal_thickness" %}:</label>
                    <span id="surface_seal_thickness">
                      {% if well.surface_seal_thickness %}
                        {{well.surface_seal_thickness|exclude_zero_decimals}} inches
                      {% else %}
                          &nbsp;
                      {% endif %}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="surface_seal_length">{% verbose_name well "surface_seal_length" %}:</label>
                    <span id="surface_seal_length">
                    {% if well.surface_seal_length %}
                      {{well.surface_seal_length|exclude_zero_decimals}} feet
                    {% else %}
                      &nbsp;
                    {% endif %}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="backfill_type">{% verbose_name well "backfill_type" %}:</label>
                    <span id="backfill_type">{{well.backfill_type|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-6 col-print-6 print-compressed">
                    <label for="backfill_depth">{% verbose_name well "backfill_depth" %}:</label>
                    <span id="backfill_depth">
                      {% if well.backfill_depth %}
                        {{well.backfill_depth|exclude_zero_decimals}} feet
                      {% else %}
                          &nbsp;
                      {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset id="perforations_fieldset">
    <legend>Liner Details</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-12 col-print-12 table-responsive print-compressed">
            {% if well.perforation_set.all %}
            <table id="liner_details" class="table table-condensed table-bordered table-striped">
                <thead>
                    <th>Liner Material</th>
                    <th>Liner Diameter</th>
                    <th>Liner Thickness</th>
                    <th>Liner From</th>
                    <th>Liner To</th>
                    <th>Liner Perforated From</th>
                    <th>Liner Perforated To</th>
                </thead>
                <tbody>
                    {% for perforation in well.perforation_set.all %}
                    <tr>
                        <td>{{well.liner_material.liner_material_code|default_if_none:'&nbsp;'}}</td>
                        <td>{{perforation.liner_diameter|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{perforation.liner_thickness|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{perforation.liner_from|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{perforation.liner_to|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{perforation.liner_perforation_from|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                        <td>{{perforation.liner_perforation_to|exclude_zero_decimals|default_if_none:'&nbsp;'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <span id="no_liner_details_information">No liner information available.</span>
            {% endif %}
        </div>
    </div>
</fieldset>

<fieldset id="screen_details_fieldset">
    <legend>Screen Details</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-4 col-print-4 print-compressed">
            &nbsp;
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="intake_method">{% verbose_name well "screen_intake_method" %}:</label>
                    <span id="intake_method">{{well.screen_intake_method|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="screen_type">{% verbose_name well "screen_type" %}:</label>
                    <span id="screen_type">{{well.screen_type.description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="screen_material">{% verbose_name well "screen_material" %}:</label>
                    <span id="screen_material">{{well.screen_material.description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="screen_opening">{% verbose_name well "screen_opening" %}:</label>
                    <span id="screen_opening">{{well.screen_opening.description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="screen_bottom">{% verbose_name well "screen_bottom" %}:</label>
                    <span id="screen_bottom">{{well.screen_bottom.description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-print-8 table-responsive print-compressed">
            {% if well.screen_set.all %}
            <table id="screens" class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th><span class="pull-right">From (feet)</span></th>
                        <th><span class="pull-right">To (feet)</span></th>
                        <th><span class="pull-right">Diameter (inches)</span></th>
                        <th>Screen Assembly Type</th>
                        <th><span class="pull-right">Slot Size</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for screen in well.screen_set.all %}
                    <tr>
                        <td><span class="pull-right">{{screen.screen_from|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span></td>
                        <td><span class="pull-right">{{screen.screen_to|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span></td>
                        <td><span class="pull-right">{{screen.internal_diameter|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span></td>
                        <td><span>{{screen.assembly_type|default_if_none:'&nbsp;' }}</span></td>
                        <td><span class="pull-right">{{screen.slot_size|exclude_zero_decimals|default_if_none:'&nbsp;' }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <span id="no_screen_information">No screen assembly information available.</span>
            {% endif %}
        </div>
    </div>
</fieldset>

<fieldset id="well_development_fieldset">
    <legend>Well Development</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="devloped-by">{% verbose_name well "development_method" %}:</label>
                    <span id="developed-by">{{well.development_method.description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="devlopment-total-duration">{% verbose_name well "development_hours" %}:</label>
                    <span id="devlopment-total-duration">
                      {% if  well.development_hours > 0 %}
                      {{well.development_hours|exclude_zero_decimals}} hours
                      {% else                             %}
                      &nbsp;
                      {% endif                            %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset id="well_yield_fieldset">
    <legend>Well Yield</legend>
    <div class="row no-gutters print-compressed">
        {% for productiondata in well.productiondata_set.all|dictsortreversed:"update_date"|slice:"1" %}
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="yield-estimation-method">{% verbose_name productiondata "yield_estimation_method" %}:</label>
                    <span id="yield-estimation-method">{{productiondata.yield_estimation_method.description|default_if_none:'&nbsp;' }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-4 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 print-col-12 print-compressed">
                    <label for="yield_estimation_rate">{% verbose_name productiondata "yield_estimation_rate" %}:</label>
                    <span id="yield_estimation_rate">
                    {% if productiondata.yield_estimation_rate > 0 %}
                        {{productiondata.yield_estimation_rate|exclude_zero_decimals }} &nbsp; {{productiondata.well_yield_unit.well_yield_unit_code}}
                    {% endif %}
                  </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-print-12 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="yield_estimation_duration">{% verbose_name productiondata "yield_estimation_duration" %}:</label>
                    <span id="yield_estimation_duration">
                      {% if productiondata.yield_estimation_duration > 0 %}
                          {{productiondata.yield_estimation_duration|exclude_zero_decimals }} &nbsp; hours
                      {% endif %}
                  </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</fieldset>

<fieldset id="well_decommissioning_fieldset">
    <legend>Well Decommissioning</legend>
    <div class="row no-gutters print-compressed">
        <div class="col-md-6 col-print-6 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="reason_for_decommission">{% verbose_name well "decommission_reason" %}:</label>
                    <span id="reason_for_decommission">{{well.decommission_reason|default_if_none:'&nbsp;'}}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="method_of_closure">{% verbose_name well "decommission_method" %}:</label>
                    <span id="method_of_closure">{{well.decommission_method.decommission_method_code|default_if_none:'&nbsp;'}}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="decommission_details">{% verbose_name well "decommission_details" %}:</label>
                    <span id="decommission_details">{{well.decommission_details|default_if_none:'&nbsp;'}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-print-6 print-compressed">
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="sealant_material">{% verbose_name well "sealant_material" %}:</label>
                    <span id="sealant_material">{{well.sealant_material|default_if_none:'&nbsp;'}}</span>
                </div>
            </div>
            <div class="row no-gutters print-compressed">
                <div class="col-md-12 col-print-12 print-compressed">
                    <label for="backfill_material">{% verbose_name well "backfill_material" %}:</label>
                    <span id="backfill_material">{{well.backfill_material|default_if_none:'&nbsp;'}}</span>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset id="well_comments_fieldset">
    <legend>Comments</legend>
    <span id="comments">{{well.comments|default_if_none:'&nbsp;'}}</span>
</fieldset>

{% if settings.ENABLE_ADDITIONAL_DOCUMENTS %}
<fieldset id="documents_fieldset" class="hide-for-print">
    <legend>Additional Documentation</legend>

    {% if file_client_error %}
    <div class="row no-gutters hide-for-print show-for-screen">
        <div class="col-sm-12 alert alert-warning">
            <div id="file-client-error-msg-body" role="alert" aria-atomic="true">{{file_client_error}}</div>
        </div>
    </div>
    {% elif documents %}
    <div class="row no-gutters">
        <div class="col-md-12">
            <table id="additional_documentation_table" class="table table-condensed table-bordered table-striped">
                <thead>
                    <th>Document Link</th>
                </thead>
                <tbody>
                    {% for document in documents %}
                    <tr>
                      <td>
                          <a href="https://{{host}}/{{document.bucket_name}}/{{document.object_name}}" target="_blank">{{document.display_name}}</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row no-gutters hide-for-print show-for-screen">
        <div class="col-sm-12">
            <div id="no_documentation_msg">No additional documentation currently available for this well.</div>
        </div>
    </div>
    {% endif %}
</fieldset>
{% endif %}

<fieldset id="disclaimer_fieldset">
    <legend>Disclaimer</legend>
    <span id="disclaimer">
    The information provided should not be used as a basis for making financial or any other commitments. The Government of British Columbia accepts no liability for the accuracy, availability, suitability, reliability, usability, completeness or timeliness of the data or graphical depictions rendered from the data.
  </span>
</fieldset>
{% endblock %} {% block jqscript_block %}
<script>
    var detailMap = null;
    // Options for creating the detailMap. This map instance opens with a pushpin over the location of the well
    // of interest, and (as with all maps with a pushpin) the map issues an AJAX query to show the surrounding wells
    // within the map's bounding box, which are displayed as circleMarkers. The map also has limited zoom capability,
    // so that users can find further surrounding wells. None of the wells (circleMarkers or the pushpin) is interactive.
    var detailMapOptions = {
        SEARCH_URL: "{% url 'map_well_search' %}",
        // The ID of the addMap div.
        mapNodeId: 'detail-map',
        // The initial centre of the map
        initCentre: null, // Will be filled in before call in $(document).ready()
        // Maximum zoom of the map (i.e., how far it can be zoomed in)
        maxZoom: 17,
        // Minimum zoom of the map (i.e., how far it can be zoomed out)
        minZoom: 10,
        // All zooms should remain centred
        centreZoom: true,
        // The detailMap cannot be panned
        canPan: false,
        // ESRI layers associated with the map
        esriLayers: [{
            url: 'https://maps.gov.bc.ca/arcserver/rest/services/Province/roads_wm/MapServer'
        }],
        // WMS layers associated with the map
        wmsLayers: [{
            rootUrl: 'https://openmaps.gov.bc.ca/geo/pub/WHSE_CADASTRE.PMBC_PARCEL_FABRIC_POLY_SVW/ows?',
            format: 'image/png',
            layers: 'pub:WHSE_CADASTRE.PMBC_PARCEL_FABRIC_POLY_SVW',
            styles: 'PMBC_Parcel_Fabric_Cadastre_Outlined',
            transparent: true
        }],
        wellPushpinInit: null, // Will be filled in before call in $(document).ready()
        externalAttributionNodeId: 'attribution' // The ID of the external node to contain the attribution.
    };

    $(document).ready(function() {
        var lat = $("#latitude").data("latitude");
        var long = $("#longitude").data("longitude");
        var guid = $("#guid-row").data("well-guid");
        // The map starts centred on a given point at the lowest zoom level, and that point happens to contain the well of interest.
        detailMapOptions.initCentre = [lat, long];
        detailMapOptions.wellPushpinInit = {
            lat: lat,
            long: long,
            wellDetails: {
                guid: guid
            }
        };
        detailMap = new WellsMap(detailMapOptions);
    });
</script>
{% endblock %}
