{% extends 'gwells/base.html' %}

{% block title %}{% endblock %}

{% block bodyheading_block %}The Drill Experts{% endblock %}

{% block introduction_block %}
                    <p>Welcome Bobby Wellersby.</p>
{% endblock %}

{% block body_block %}
{% if settings.ENABLE_DATA_ENTRY %}<p>
<a id="enterNewReport" href="{% url 'activity_submission_create' %}">Enter a new report</a>
</p>
{% endif %}
<p>
<a href="{% url 'groundwater_information' %}">Groundwater Information</a>
</p>

<div id="disclaimer">
    <p>The information provided should not be used as a basis for making financial or any other commitments. The Government of British Columbia accepts no liability for the accuracy, availability, suitability, reliability, usability, completeness or timeliness of the data or graphical depictions rendered from the data. Read our <a href="http://gov.bc.ca/disclaimer/" target="_self">Disclaimer</a> and <a href="http://gov.bc.ca/privacy/" target="_self">Privacy</a> pages for more information.</p>
</div>

{% endblock %}
