{% extends 'gwells/base.html' %}
{% block meta %}Search for registered well drillers and well pump installers who are authorized to work on water wells in B.C.
{% endblock %}
{% block title %}Registry{% endblock %} {% block bodyheading_block %}



<h1>Well Driller and Well Pump Installer Registries</h1>{% endblock %} {% block introduction_block %}{% endblock %} {% block body_block %}
<fieldset id="driller_registry">
    <legend>Well Driller Registry</legend>
    <a href="https://www2.gov.bc.ca/assets/gov/environment/air-land-water/water/water-wells/well_drillers_reg.pdf" target="_blank">Well Driller Registry (PDF)</a>
</fieldset>

<fieldset id="pump_installer_registry">
    <legend>Well Pump Installer Registry</legend>
    <a href="https://www2.gov.bc.ca/assets/gov/environment/air-land-water/water/water-wells/pump_install_reg.pdf" target="_blank">Well Pump Installer Registry (PDF)</a>
</fieldset>
{% endblock %}
