<?xml version='1.1' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>Sustainment.Team@gov.bc.ca</adminAddress>
  <jenkinsUrl>#{JENKINS_URL}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
